<!-- Content Heading EJS -->
<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
    <div>
      <form id="loginForm" action="/account/login" method="post">
        <label for="account_email">E-mail:</label><br><input name="account_email" type="email" id="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>"><br>
        <label for="account_password">Password:</label><br><input name="account_password" type="password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
        <input type="submit" id="login-button" value="Log In">
        <h2>No account? <a href="/account/register">Sign-up</a></h2>
      </form>
    </div>
    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <% } else {
      res.redirect('/')
    } %>
